.libackground{
    color: gray;
    text-decoration: line-through;
}

#container{
    width: 360px;
    margin: 100px auto;
    /* margin-bottom: 500px; */
    border: 1px solid gray;
    background: #f7f7f7;
}
html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    margin: 0;
    
background: #A1FFCE;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
span{
    background-color:#ff2424;
    text-align: center;
    margin-right: 15px;
    height: 35px;
    color:white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}
 .fa-plus{
    
     float: right;
     width : 35px;
     height: 35px;
     margin:0;
 }
li:hover span{
    width : 40px;
    opacity: 1.0;
 } 
h1{
    background-color: #10d0e6;
    margin:0;
    color:white;
    padding: 7px 7px 7px 15px;
    font-weight: normal;
    
}
input{
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    font-size: 13px;
    padding: 7px 7px 7px 15px;
    color: #10d0e6;
    background-color: #f7f7f7;
    border: 3px solid rgba(0, 0, 0, 0);
}
input:focus{
    outline: none;
    border: 2px solid #10d0e6;
    background: white
}
li{
    background: #fff;
    height: 35px;
    line-height: 30px;
    font-weight: 600;
}
li:nth-child(2n){
    background: #f7f7f7;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}